root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{C,c,cc,cpp,cxx,H,h,hh,hpp,hxx}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{rst,md}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[{CMakeLists.txt,CmakeConfig.txt,CMakeVersions.txt,*.cmake}]
indent_style = space
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab


