*~
*.log
*.exe
*.gz
*.lo
*.o
*.orig
*.output
*.pop
*.rej
*.rpm
*.tar
*/*.l[oa]
*/*/*.l[oa]
*/*/.deps
*/*/.dirstamp
*/*/.libs
*/.deps
*/.dirstamp
*/.libs
*/Makefile
*/Makefile.in
*TAGS
*patch
.deps
.cproject
.idea/
.project
.settings/
src/bin/memaslap
src/bin/memcapable
src/bin/memcat
src/bin/memcp
src/bin/memdump
src/bin/memerror
src/bin/memexist
src/bin/memflush
src/bin/memparse
src/bin/memping
src/bin/memrm
src/bin/memslap
src/bin/memstat
src/bin/memtouch
cmake-build-*/
example/memcached_light
example/t/memcached_light
tags
venv/
/infer-out/
/docs/gh-pages/source/
/docs/gh-pages/build/
